# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Ignore local virtual environments
.venv/
venv/
env/

# Ignore massive raw data folders
data/

# Ignore compiled python caching files
__pycache__/
*.pyc

# Ignore system configuration file structures
.DS_Store
.idea/
.vscode/